/lightning_logs
__pycache__
outputs/
data/
test/
wandb/
tfidf/
tfidf.py
checkpoints/
bm25/
wiki_kkma.json
sr_inference.py
correct_docs_idx.json
retrieval_checkpoints/
test.py
.env
test1.py
logs/
inference_retrieval.py
etc/
